@import url("https://fonts.googleapis.com/css2?family=Abel&family=Titillium+Web:wght@300&display=swap");

:root {
  --file-header-height: 50px;
  --main-color: #21262d;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

header {
  font-family: "Abel", sans-serif;
  background-color: var(--main-color);
  height: var(--file-header-height);
  text-align: center;
}

table {
  color: white;
}

table a {
  color: white;
  text-decoration: none;
}

table tr:nth-child(even) {
  background-color: #21262d;
}

table tr:nth-child(even) code,
table th:nth-child(even) code {
  background-color: #30363d;
}

table tr:nth-child(odd) {
  background-color: #30363d;
}

table th {
  background-color: #21262d;
  color: white;
}

table tr td,
table tr th {
  border-left: 1px solid #6e7681;
  border-bottom: 1px solid #6e7681;
}

table {
  border: 1px solid #6e7681;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

.katex-display {
  /* font-size: 16pt; */
}

.reference-link {
  text-decoration: none;
}

.reference-items a {
  text-decoration: none;
}

.reference {
  display: flex;
  padding-bottom: 5px;
}

.reference-number {
  min-width: 3em;
  text-align: right;
  margin-left: -31px;
  margin-right: 10px;
}

.reference-content {
  width: calc(100% - 31px);
  word-break: break-all;
}

.keyword-link {
  color: white;
  background-color: #1e2026;
  position: relative;
  cursor: default;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.keyword-popup {
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  max-width: 300px;
  left: 0;
}

.keyword-popup > div {
  background-color: #1e2026;
  height: inherit;
  border-radius: inherit;
  padding: 10px;
}

@media screen and (max-width: 760px) {
  .template-structure {
    padding: 10px;
  }
}

@media screen and (min-width: 760px) {
  .template-structure {
    padding: 10px 10% 0px 10%;
  }
}

.template-structure {
  height: 100vh;
  background-color: #1e2026;
}

.template-filesystem {
  border: 1px #4d535c solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.template-filesystem-header {
  position: relative;
  height: 70px;
  color: white;
  text-align: center;
  border-bottom: 1px #4d535c solid;
}

.template-filesystem-header-title {
  margin: 10;
}

.template-filesystem-item {
  display: flex;
  padding: 5px;
  border-bottom: 1px #4d535c solid;
}

.template-filesystem-item:hover {
  background-color: #282a31;
}

.template-filesystem-files a:last-child,
.template-filesystem-searches a:last-child {
  border-radius: 0px 0px 5px 5px;
}

.template-filesystem-files a:last-child .template-filesystem-item,
.template-filesystem-searches a:last-child .template-filesystem-item {
  border-radius: inherit;
  border: 0px;
}

.template-filesystem-item-last-modified {
  color: #6e7681;
  margin-left: auto;
  margin-right: 10px;
}

.template-filesystem-item-icon {
  color: #6e7681;
}

.template-filesystem-item-icon,
.template-filesystem-item-text {
  margin-left: 10px;
}

.template-filesystem-item-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.template-filesystem-item-tags > svg {
  opacity: 0.8;
  position: relative;
}

.template-filesystem-directories,
.template-filesystem-files {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.template-filesystem-directories a,
.template-filesystem-files a,
.template-filesystem-searches a {
  color: white;
  background-color: #1e2026;
  text-decoration: none;
}

.template-display {
  height: 100vh;
  background-color: black;
}

.template-filesystem-header-information {
  margin-top: 5px;
  color: #6e7681;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-filesystem-header-information > div {
  margin-right: 10px;
  border-radius: 20px;
  min-width: 65px;
  border: solid 1px #4d535c;
  color: #c1c7cf;
}
.template-filesystem-header-information > div > span {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.template-display-tags {
  width: 100%;
  background-color: #1e2026;
  color: #6e7681;
  text-align: center;
  border-bottom: solid 1px #4d535c;
  display: inline-table;
}

.template-display-tags > div {
  float: left;
  border-radius: 20px;
  margin: 20px 0px 0px 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.template-display-tags > div:last-child {
  margin: 20px 0px 20px 20px;
}

.template-display-tags > div > span {
  margin-left: 10px;
  position: relative;
  background-color: inherit;
  top: -2px;
}

.template-filesystem-searches {
  height: calc(100vh - var(--file-header-height) - 70px - 20px);
  overflow-y: scroll;
}

.template-filesystem-searches .template-filesystem-item {
  display: block;
}
.template-filesystem-searches .template-filesystem-item-text-header {
  text-decoration: underline;
}
.template-filesystem-searches .template-filesystem-item-text {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.template-filesystem-searches .template-filesystem-item-text-highlight {
  background-color: white;
  color: black;
  border-radius: 5px;
}
/* input.search {
  font-family: "Abel", sans-serif;
  border-color: #ddd;
  border: 0px;
  border-bottom: 1px solid;
  text-align: center;
  text-transform: none;
  cursor: text;
  margin: 0px;
  padding-top: 10px;
  height: 48px;
} */

.header-container {
  display: flex;
  justify-content: left;
}

.header-container > .search.directory {
  width: 40%;
}

.header-icon-buttons {
  display: flex;
  flex-direction: row;
}

.button-icon {
  flex: 1 1 auto;
  cursor: pointer;
  border-radius: 5px;
  border: 1px #4d535c solid;
  padding: 17px;
  margin: auto 0;
  margin-left: 5px;
  margin-right: 5px;
}

.button-icon:hover {
  border: 1px #6e7681 solid;
}

.button-header {
  cursor: pointer;
  position: absolute;
  color: #6e7681;
  left: 10px;
  top: 15px;
}

.button-header a,
.button-back a {
  color: inherit;
  text-decoration: none;
}

.button-header:hover,
.button-back:hover {
  color: white;
}

.button-back {
  cursor: pointer;
  position: absolute;
  color: #6e7681;
  left: 12px;
  top: 10px;
}

.content-container {
  position: fixed;
  right: 0px;
  margin: 0 auto;
  width: calc(80% - 2px);
}

@media screen and (max-width: 760px) {
  .content {
    padding: 20px;
  }
}

@media screen and (min-width: 760px) {
  .content {
    padding: 20px 120px;
  }
}

.content {
  font-family: georgia, serif;
  background-color: white;
  height: calc(100vh - var(--file-header-height));
  max-height: calc(100vh - var(--file-header-height));
  overflow-y: auto;
}

.content p {
  text-align: justify;
}

.content a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.slider {
  position: fixed;
  width: 2px;
  height: 100vh;
  background-color: #1e2026;
  border-right: black solid 1px;
  left: 20%;
  cursor: ew-resize;
}

.content-tree {
  position: fixed;
  left: 0px;
  min-width: 20%;
  width: 20%;
  background-color: #1e2026;
}

.search.file {
  height: var(--file-header-height);
  max-height: var(--file-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.search.directory {
  height: 36px;
  max-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.search-icon {
  height: 34px;
  width: 10%;
  min-width: 50px;
  background-color: #23252c;
  border-radius: inherit;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
}

.search-container {
  width: 100%;
  height: 36px;
  margin: auto 0px;
  border: 1px solid #4d535c;
  background-color: #1e2026;
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container:hover,
.search-container:focus-within {
  border: 1px solid #6e7681;
}

.search-container input {
  font-size: 12pt;
  width: 90%;
  background-color: inherit;
  padding-left: 10px;
  color: white;
  height: 34px;
  display: inline-block;
  border: none;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  box-sizing: border-box;
}

.content-tree-container {
  height: calc(100vh - var(--file-header-height));
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 10px 5px 10px;
}

.content-ul {
  background-color: #1e2026;
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

ul.content-ul,
ul.content-ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.content-ul ul {
  margin-left: 10px;
}
ul.content-ul li > a {
  color: white;
  text-decoration: none;
}

ul.content-ul li > a > span {
  background-color: #282c34;
  border: 1px solid #4d535c;
  height: 32px;
  border-radius: 5px;
  margin-left: -15px;
  margin-bottom: 4px;
}

ul.content-ul li {
  margin: 0;
  margin-left: 10px;
  border-left: 3px solid #303843;
  position: relative;
}

ul.content-ul .node {
  cursor: pointer;
  display: flex;
  white-space: nowrap;
}

ul.content-ul .node .node-bar {
  position: absolute;
  top: 15px;
  width: 11px;
  border-top: 3px solid #303843;
  margin-left: -11px;
}

ul.content-ul .node.last .node-bar {
  position: absolute;
  top: 15px;
  width: 11px;
  height: 100%;
  border-top: 3px solid #303843;
  background-color: #1e2026;
  margin-left: -12px;
}

ul.content-ul .node.root .node-bar {
  border-top: 0px;
}

ul.content-ul .node p {
  margin: auto 0px;
  flex: 2 1 100px;
}

ul.content-ul .status {
  background-color: inherit;
  position: relative;
  height: 30px;
  width: 5px;
}

ul.content-ul .node .visibility-box {
  width: 40px;
  min-width: 40px;
  height: 30px;
  background-color: #303843;
  border-radius: inherit;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
}

ul.content-ul .node .visibility-box p {
  font-size: 10pt;
  margin-top: 5px;
}

ul.content-ul .node > i {
  font-size: 30px;
  cursor: pointer;
}

ul.content-ul .close {
  color: transparent;
  visibility: hidden;
  transition-property: color, transform;
  transition-duration: 0.5s, 0.5s;
}

ul.content-ul .node:focus-within > .close {
  color: #db5454;
  transform: rotate(90deg);
  visibility: visible;
}

ul.content-ul .node:focus-within .status {
  background-color: #ffb57e;
}

ul.content-ul .node:hover {
  background-color: #2e313b;
}

ul.content-ul .node:hover .visibility-box {
  background-color: #2a313b;
}

ul.content-ul .nested {
  display: none;
}

ul.content-ul .active {
  display: block;
}

.svg-text {
  font: 12px georgia, serif, sans-serif;
}

pre {
  position: relative;
}

pre div {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 6px 5px 0px 5px;
  border-radius: 5px;
  background-color: #ddd;
  color: #1e2026;
  cursor: pointer;
  visibility: hidden;
}

pre:hover div {
  visibility: visible;
}
